@charset "utf-8";



:root{
    --fonte-Padrao:text-align: center; font-family: Arial, Helvetica, sans-serif;font-weight: lighter;
    --fonte-destaque:font-family: 'Goldman', sans-serif;text-align: center;
    --fonte-texto:text-align: center; font-family: Arial, Helvetica, sans-serif;color: blanchedalmond;
    --cor-1: rgb(255, 205, 111);
    --cor-2: rgb(250, 231, 124);
    --cor-3: orange;
    --cor-destaque:#ddc702;
}

*{
    margin: 0px;
    padding: 0px;
}

main{
    min-width:300px;
    max-width: 100%;
    margin: auto;
    padding: 20px;
}

body{
    background: url(backggames3op.jpg);
    background-attachment: fixed;
    width: 100%;
    margin: auto;
}

h2{
    font-family: var(--fonte-Padrao);
    color: white;
    text-align: center;
    width: 100%;
    padding: auto;
    text-shadow: 0px 0px 1px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.774);
    margin-bottom: 30px;
    margin-top: 30px;
    
    box-shadow: 2px 2px 3px gray;
}

h3{
    margin: 20px;
}

section h3 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    
}


header{
    text-align:center;
    min-height: 360px;
    width: 100%;
    background-image: url("headeree1-40.jpg");
    background-size: 100%;
    border-radius:1px;
    box-shadow: 3px 3px 3px gray;
    margin-bottom: -25px;
    margin-top: -45px;
}

header > h1{
    font-family:var(--fonte-destaque);
    
    color: #f0e797;
    font-size:4em;
    text-shadow: 0px 0px 5px black;
    margin-top: 35px;
    margin-bottom: -25px;
    padding: 30px;
    width: auto;
}


header > p{
    font-family: var(--fonte-Padrao);
    background-color: black;
    text-align: center;
    color: blanchedalmond;
    width: 100%;
    
    padding-bottom: 50px;
    margin-top: 215px;
    margin-bottom:-10px;
    box-shadow: 0px 3px 1px black;
    font-size: 1.3em;
}
/*
.dropbtn{
    background-color: #d9c408;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 3px gray;
    transition-duration: 1s;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
    border-radius: 5px;
}

.dropdown-content a {
    color:gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: var(--cor-1);
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: var(--cor-1);
}
*/

 nav{
    text-align: center;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav > a:hover{
background-color:rgba(0, 0, 0, 0.849);
color: white;
transition-duration: 0.5s;
}


nav > a{
    font-family: var(--fonte-destaque);
    font-size: 1.5em;
    color:white;
    text-decoration: none;
    background-color:black;
    border-radius: 1px;
    padding: 10px;
    padding-top: 2px;
    
     
    margin: -3px;
    box-shadow: 2px 2px 5px gray;
}

table a{
    font-family: var(--fonte-Padrao);
    text-decoration: none;
}

img{
    padding-top: 20px;
}

section {
    background-image:linear-gradient(to top,var(--cor-1), var(--cor-2)); 
    min-height: 500px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 600px;
    border-radius: 5px 5px;
    box-shadow: 3px 3px 5px gray;
    padding:20px; 
}

section > p{
    font-family: var(--fonte-texto);
    color:#696542;
    font-size: larger;
    margin: 20px;
    
}

section > img{
    width: 70%;
    margin: auto;
    border-radius: 5px;
    padding:0px;
}

article{
    margin: 0px -30px 30px -30px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

article > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

        
table,th,tr{
    border: 1px solid black;margin:auto;padding:auto;
}

.sei {
padding: 0px; 
margin-top: 50px;  
border-radius:5px;

}

footer{
    background-color: black;
    font-size: 0.8em;
    color: wheat;
}

